---
title: Johnylab
timezone: America/Sao_Paulo
collections:
  posts:
    title: Posts
    output: true
  uploads:
    title: Uploads
    output: true
defaults:
- scope:
    path: ''
    type: pages
  values:
    layout: page
- scope:
    path: ''
    type: posts
  values:
    layout: post
    permalink: blog/:title/
lang: pt_BR
description: 'Site pessoal de João Batista Ferreira, web designer e developer. Moro
  em Santos e curto padrões web e design moderno.

'
baseurl: ''
url: https://johnylab.com.br
markdown: kramdown
permalink: pretty/
paginate: 10
paginate_path: "/blog/:num/"
sass:
  style: compressed
plugins:
- jekyll-paginate
- jekyll-sitemap
exclude:
- ".sass-cache/"
- ".jekyll-cache/"
- gemfiles/
- Gemfile
- Gemfile.lock
- node_modules/
- vendor/bundle/
- vendor/cache/
- vendor/gems/
- vendor/ruby/
- README.md
- package.json
- CNAME
