---
layout: default
---

<section class="page-content section-hero">
  <div class="wrapper">
    <div class="hero-content">
      <h1 class="hero-title"><span>João Ferreira</span> <br><small><span>web designer e desenvolvedor</span></small></h1>
      <p class="hero-tag-line"><span>Seja bem vindo ao meu laboratório!</span></p>
      <p class="hero-excerpt"><span>Eu uso o meu site para fazer meus experimentos com HTML, CSS, Javascript, bancos de dados e outras tecnologias para web. Então não repare na bagunça.</span></p>
      <footer class="hero-cta" data-grid="center spacing">
        <a href="{{ site.baseurl }}/sobre-joao-ferreira/">MAIS SOBRE MIM...</a>
        <a href="#contato" data-btn="nbr">FAÇA SEU SITE...</a>
      </footer>
    </div>
  </div>
</section>

<script>

  if ( window.innerWidth > 800 ) document.querySelector('.section-hero').innerHTML += '<div class="hero-bg"><div class="hero-bg-container video-frame"><iframe src="https://player.vimeo.com/video/108674295?autoplay=1&loop=1&color=ed143d&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" tabindex="-1"></iframe></div></div>';

</script>

<section class="page-content section-portifolio">
  <header class="wrapper">
    <h2>Portfolio</h2>
  </header>
  <div class="slider portfolio-gallery">
    {% for job in site.trabalhos %}
      <article class="wrapper slide{% if forloop.first %} current{% endif %} portfolio-item">
        <div data-grid="center spacing">
          <div data-cell="1of4 shrink" class="portfolio-img">
            <img src="{{ site.baseurl }}/img{{ job.id }}.png" alt="{{ job.title }}">
          </div>
          <div data-cell="3of4" class="portfolio-metadata">
            <h3 class="portfolio-title">{{ job.title }}</h3>
            {{ job.content }}
          </div>
        </div>
      </article>
    {% endfor %}
  </div>
  <p class="wrapper" data-grid="end"><a data-cell="shrink" href="http://www.behance.net/johnylab" target="_blank">Portfolio completo...</a></p>
</section>

<script src="{{ site.baseurl }}/js/slider.js"></script>
<link rel="stylesheet" href="{{ site.baseurl }}/css/slider.css">
<script>
  slider = Slider({
    parentSelector: '.slider',
    childSelector: '.slide',
    duration: 3000
  });
  slider
    .play()
    .on('mouseover', function(){
      slider.pause();
    })
    .on('mouseout', function(){
      slider.play();
    });
</script>

<section class="page-content section-blog">
  <div class="wrapper">
  
    <h2>Blog</h2>
    {% for post in site.posts | limit: 5 %}
      <article>
        <h3>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h3>
      </article>
    {% endfor %}
  
    <p class="rss-subscribe">Assine o <a href="{{ "/feed.xml" | prepend: site.baseurl }}">feed RSS</a></p>
  
  </div>
  </section>
