---
title: João Ferreira, web designer e desenvolvedor
layout: default
---

<section class="page-content section-hero bg-area">
  <div class="wrapper">
    <div class="hero-content">
      <h1 class="hero-title"><span>João Ferreira</span> <br><small><span>web designer e desenvolvedor</span></small></h1>
      <p class="hero-excerpt"><span>Este site é feito de acordo com as mais recentes especificações de HTML, CSS, Javascript, bancos de dados e outras tecnologias para web. <a href="{{ site.baseurl }}/sobre-joao-ferreira/">Mais sobre mim...</a></span></p>
      <p class="hero-excerpt"><span>E o que é preciso para ter um site? Custa muito caro? Quanto tempo leva? Entre em contato e eu responderei:</span></p>
      <p><a href="#contato" data-btn="nbr" onclick="ga('send', 'event', 'Contato', 'Abrir form de contato', 'Hero no topo');">FAÇA SEU SITE...</a></p>
    </div>
  </div>
  
  <div class="bg-container">
      <video class="bg-content" id="top-video-background" src="{{ site.baseurl }}/midia/site-map-drawing.mp4" autoplay loop muted playsinline></video>
      <script>
          window.addEventListener('load', function(){
              document.getElementById('top-video-background').play();
          });
      </script>
  </div>

</section>

<section class="page-content section-portifolio">
  <header class="wrapper">
    <h2>Portfolio</h2>
  </header>
  <div class="slider portfolio-gallery">
    {% for job in site.trabalhos %}
      <article class="wrapper slide{% if forloop.first %} current{% endif %} portfolio-item">
        <div data-grid="center spacing">
          <div data-cell="1of4 shrink" class="portfolio-img">
            <img src="{{ site.baseurl }}/img{{ job.id }}.png" alt="{{ job.title }}">
          </div>
          <div data-cell="3of4" class="portfolio-metadata">
            <h3 class="portfolio-title">{{ job.title }}</h3>
            {{ job.content }}
          </div>
        </div>
      </article>
    {% endfor %}
  </div>
  <p class="wrapper" data-grid="end"><a data-cell="shrink" href="http://www.behance.net/johnylab" target="_blank" class="icon-colored inline" onclick="ga('send', 'event', 'Navegação', 'Behance', 'Seção Portfolio');">{% include svg/behance.svg %} Portfolio completo...</a></p>
</section>

<script src="{{ site.baseurl }}/js/slider.js"></script>
<link rel="stylesheet" href="{{ site.baseurl }}/css/slider.css">
<script>
  slider = Slider({ parentSelector: '.slider', childSelector: '.slide', duration: 3000 });
  slider
    .play()
    .on('mouseover', function(){ slider.pause(); })
    .on('mouseout', function(){ slider.play(); });
</script>

<section class="page-content section-services hero brand">
  <div class="wrapper large">
    <h2>Serviços</h2>
    <div data-grid="spacing">
      <div data-cell="1of3 fill" data-text="lg center" class="wrapper service-item">{% include svg/brain.svg %}
        <p>Criação de logomarcas e design gráfico</p>
      </div>
      <div data-cell="1of3 fill" data-text="lg center" class="wrapper service-item">{% include svg/development.svg %}
        <p>Desenvolvimento de aplicações web, páginas institucionais e hotsites</p>
      </div>
      <div data-cell="1of3 fill" data-text="lg center" class="wrapper service-item">{% include svg/networking.svg %} 
        <p>Redes sociais, e-mail marketing e mais</p>
      </div>
    </div>
  </div>
  <p data-text="center xl"><a href="#contato" data-btn onclick="ga('send', 'event', 'Contato', 'Abrir form de contato', 'Seção Serviços');">ORÇAMENTO</a></p>
</section>

<section class="page-content section-blog">
  <div class="wrapper">

    <h2>Blog</h2>
    {% for post in site.posts limit: 5 %}
      <article>
        <h3>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h3>
      </article>
    {% endfor %}

    <p class="rss-subscribe">Assine o <a href="{{ "/feed.xml" | prepend: site.baseurl }}" onclick="ga('send', 'event', 'Feed', 'Acesso ao feed RSS', 'Seção Blog');">feed RSS</a></p>

  </div>
</section>

<script>

{% comment %}

  Array find polyfill https://developer.mozilla.org/pt-BR/docs/Web/JavaScript/Reference/Global_Objects/Array/find 

{% endcomment %}

if (!Array.prototype.find) {
  Array.prototype.find = function(predicate) {
    if (this === null) {
      throw new TypeError('Array.prototype.find called on null or undefined');
    }
    if (typeof predicate !== 'function') {
      throw new TypeError('predicate must be a function');
    }
    var list = Object(this);
    var length = list.length >>> 0;
    var thisArg = arguments[1];
    var value;

    for (var i = 0; i < length; i++) {
      value = list[i];
      if (predicate.call(thisArg, value, i, list)) {
        return value;
      }
    }
    return undefined;
  };
}

(function(query){

  if (query) {

    var index = {% include feed.json %};
    var queries = query.substring(1).split('&');
    queries.forEach(function(keys){
      var key = keys.split('=');
      if (key[0] === 'id') {
        findMe(key[1]);
      }
    });

    function findMe(id){
      var found = index.find(function(item){
        return item.id === id;
      });
      if (found) newUrlAlert(found);
    };

    function newUrlAlert(item){
      var modal = document.createElement('div');
      modal.setAttribute('data-modal', '');
      modal.setAttribute('data-grid', 'center');
      modal.setAttribute('id', 'novo-endereco');
      modal.innerHTML = '<div class="wrapper"><header data-grid="row nowrap spacing"><h3 class="icon inline">{% include svg/favicon.svg %} Página movida!</h3><a href="#x" data-cell="shrink" class="icon ui" title="Fechar formulário">{% include svg/letter-x.svg %}</a></header><p>Desculpe. Algumas coisas mudaram de lugar. Veja se esta é a página que você procura:<hr></p><h4><a href="' + item.url + '">' + item.title + '</a></h4><p><small>' + item.excerpt + '</small></p><footer data-grid="row nowrap spacing center justify"><a href="#x" data-cell="shrink" class="icon ui" title="Fechar formulário" onclick="ga(\'send\', \'event\', \'Alerta\', \'FECHAR alerta de novo endereço\', \'' + item.url + '\')">FECHAR</a><a href="' + item.url + '" data-cell="shrink">IR PARA O NOVO ENDEREÇO</a></footer></div>';
      document.querySelector('body').appendChild(modal);
      location.hash = modal.id;
    };

  }

})(location.search);
</script>