html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  font-family: var(--base-font-family);
  font-weight: var(--base-font-weight);
  color: var(--text-color);
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
  margin-top: var(--spacing);
  margin-bottom: var(--spacing);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

p {
  font-size: 1em;
  line-height: var(--base-line-height);
}

ul,
ol {
  padding-left: calc(var(--spacing) * 2);
}

blockquote {
  margin-bottom: 60px;
  padding: var(--spacing-s);
  font-size: 1.15em;
  font-style: italic;
  font-weight: 400;
  color: var(--grey-color-500);
  background-color: var(--grey-color-100);
  position: relative;

  p,
  li {
    margin-top: var(--spacing-s);
    margin-bottom: var(--spacing-s);
  }
}

blockquote::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 100px;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: var(--grey-color-100);
  border-left-color: var(--grey-color-100);
}


li p {
  margin-top: var(--spacing-xs);
  margin-bottom: var(--spacing-xs);
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: .3s ease-in-out;
}

a:hover,
a:focus,
a:active {
  color: var(--link-color-hover);
}

embed,
iframe,
img,
object,
video {
  display: block;
  max-width: 100%;
  height: auto;
  border: 0 none;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  padding: 0.5rem;
  border: 1px solid var(--grey-color-300);
}

th {
  font-weight: 600;
}

td {
  font-size: 0.875em;
}

tr:nth-child(even) {
  background-color: var(--grey-color-100);
}

.highlight {
  padding: 1em;
  overflow-x: auto;
  border-radius: 6px;

  pre,
  .highlight {
    display: contents;
  }
}

/* https://meowni.ca/posts/monica-dot-css/ */

[hidden] {
  display: none !important
}

[disabled] {
  pointer-events: none;
  opacity: 0.3
}

.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center
}

.flex {
  flex: 1 1 auto
}