@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&family=Raleway:wght@200;400;700&display=swap');

:root {
  --base-font-family: 'Manrope', serif;
  --title-font-family: 'Raleway', serif;
  --base-font-size: 1.1em;
  --base-font-weight: 300;
  --small-font-size: calc(var(--base-font-size) * 0.875);
  --base-line-height: 1.5;

  --white-color: white;
  --grey-color-100: #e7e7e7;
  --grey-color-200: #d0d0d0;
  --grey-color-300: #b9b9b9;
  --grey-color-400: #a2a2a2;
  --grey-color-500: #8b8b8b;
  --grey-color-600: #747474;
  --grey-color-700: #5d5d5d;
  --grey-color-800: #464646;
  --grey-color-900: #2f2f2f;
  --black-color: black;

  --brand-color-lightest: aqua;
  --brand-color-light: royalblue;
  --brand-color: blue;
  --brand-color-dark: darkblue;

  --text-color: var(--grey-color-800);
  --link-color: var(--brand-color);
  --link-color-hover: blueviolet;
  --background-color: var(--white-color);

  --github-color: #000000;
  --linkedin-color: #0077b5;

  --spacing-xs: 8px;
  --spacing: 24px;
  --spacing-s: 12px;
  --spacing-m: 36px;

  --on-palm: 600px;
  --on-laptop: 800px;
  --content-width: 900px;
  --large-content-width: 1200px;
}