<footer class="footer-contato" id="contato" data-modal="" data-grid="center">
    <form action="" method="post" class="wrapper">
        <header data-grid="row nowrap center spacing">
            <h3>Faça seu site</h3>
            <a href="#x" data-cell="shrink" class="icon ui" title="Fechar formulário">{% include svg/letter-x.svg %}</a>
        </header>
        <p>Me conte como é o site que você precisa para que eu possa fazer um orçamento.</p>
        <div data-grid="spacing">
            <p>
                <label for="nome">Seu nome</label>
                <input name="nome" type="text" required placeholder="Como deseja ser chamado">
            </p>
            <p>
                <label for="email">E-mail</label>
                <input name="email" type="email" required placeholder="nome@dominio.com">
            </p>
        </div>
        <p>
            <label for="empresa">Apresente a sua empresa</label>
            <textarea name="empresa" cols="30" rows="5" placeholder="Qual o ramo de atividade? Qual o seu público? B2B ou B2C? Qual o porte? Tem algum aspecto regional incorporado à empresa?"></textarea>
        </p>
        <p>
            <label for="tipo">Que tipo de site você precisa?</label>
            <textarea name="tipo" cols="30" rows="5" placeholder="Institucional ou promocional? Apresentará produtos ou serviços? Precisa de um cadastro de clientes ou orçamentos?"></textarea>
        </p>
        <p>
            <label for="paginas">Descreva as principais páginas que o site vai ter...</label><textarea name="paginas" cols="30" rows="5" placeholder="Produtos? Serviços? Portifólio? Solicitação de visita técnica?Download de documentos? Resuma o conteúdo de cada seção do site."></textarea>
        </p>
        <footer data-grid="row nowrap spacing center justify">
            <button data-cell="shrink">ENVIAR</button>
            <a href="#x" data-cell="shrink" class="icon ui" title="Fechar formulário">FECHAR</a>
        </footer>
    </form>
</footer>