<footer class="footer-contato" id="contato" data-modal="" data-grid="center">
    <form action="https://docs.google.com/forms/d/e/1FAIpQLSffp0CMGcihOckHujL_H1-Knn1J4rXuhXjGFzxEytjocoo9NQ/formResponse" method="post" class="wrapper large">
        <header data-grid="row nowrap spacing">
            <h3 class="icon inline">{% include svg/favicon.svg %} Faça seu site</h3>
            <a href="#x" data-cell="shrink" class="icon ui" title="Fechar formulário">{% include svg/letter-x.svg %}</a>
        </header>
        <p>Me conte como é o site que você precisa para que eu possa fazer um orçamento.</p>
        <div data-grid="spacing">
            <div data-cell="1of2 fill">
                <p>
                    <label for="entry.2005820982">Seu nome</label>
                    <input name="entry.2005820982" type="text" required placeholder="Como deseja que eu te chame?">
                </p>
                <p>
                    <label for="emailAddress">E-mail</label>
                    <input name="emailAddress" type="email" required placeholder="nome@dominio.com">
                </p>
            </div>
            <div data-cell="1of2 fill">
                <p>
                    <label for="entry.217077662">Mensagem</label>
                    <textarea name="entry.217077662" cols="30" rows="5" placeholder="Deixe sua mensagem..."></textarea>
                </p>
            </div>
        </div>
        <footer data-grid="row nowrap spacing center justify">
            <button data-cell="shrink">ENVIAR</button>
            <a href="#x" data-cell="shrink" class="icon ui" title="Fechar formulário">FECHAR</a>
        </footer>
    </form>
</footer>