
<div class="page-content">
  <div id="disqus_thread" class="wrapper"></div>
</div>
<script>

  var disqus_config = function () {
  this.page.url = '{{ site.url }}{{ site.baseurl }}{{ page.url }}';
  this.page.identifier = '{{ page.title }}';
  };

  (function() {
  var d = document, s = d.createElement('script');
  s.src = 'https://johnylab.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();

</script>

<noscript>Por favor, habilite a execução de scripts para ver os <a href="https://disqus.com/?ref_noscript">comentários do Disqus</a>.</noscript>
