<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>
    <figure class="vcard" role="banner" aria-labelledby="vcard-label">
      <div data-grid="spacing">
        <div class="photo" data-cell="shrink"><img src="{{ site.baseurl }}/img/johnylab.png" alt="João B Ferreira"></div>
        <figcaption>
          <h4 class="fn" id="vcard-label">João Batista Ferreira</h4>
          <div class="nickname">@johnylab</div>
          <div class="note">Web designer e desenvolvedor</div>
          <div class="adr"><span class="locality">Santos</span>, <span class="region">SP</span></div>
        </figcaption>
        <ul class="seamless" data-cell="shrink">
          <li>
            <a href="http://www.facebook.com/joaobatistacomunic" target="_blank" class="url icon-facebook"><span class="visuallyhidden">Facebook</span></a>
          </li>
          <li>
            <a href="https://twitter.com/JohnyLab" target="_blank" class="url icon-twitter"><span class="visuallyhidden">Twitter</span></a>
          </li>
          <li>
            <a href="https://plus.google.com/+JoãoFerreira_johnylab" rel="author" target="_blank" class="url icon-googleplus"><span class="visuallyhidden">Google plus</span></a>
          </li>
          <li>
            <a href="https://br.linkedin.com/in/johnylab" target="_blank" class="url icon-linkedin"><span class="visuallyhidden">Linkedin</span></a>
          </li>
        </ul>
      </div>
    </figure>
  </div>

</footer>
