{% assign card = site.data.vcard %}

<footer class="site-footer hero brand">
  <div class="wrapper">
    <figure
      class="site-footer__figure vcard horizontal"
      style="flex-wrap: wrap; gap: var(--spacing)"
      role="banner"
      aria-labelledby="vcard-label"
    >
      <div class="photo">
        <a href="{{ site.baseurl }}/">
          <img
            src="{{ site.baseurl }}/img/joao-ferreira.png"
            width="150"
            alt="{{ card.fn }}"
          />
        </a>
      </div>

      <figcaption class="flex">
        <p class="fn site-footer__heading" id="vcard-label">{{ card.fn }}</p>
        <div class="nickname">{{ card.nickname }}</div>
        <div class="note">{{ card.note }}</div>
        <div class="adr">
          <span class="locality">{{ card.adr-locality }}</span>,
          <span class="region">{{ card.adr-region }}</span>
        </div>
      </figcaption>

      <nav class="site-nav vertical">
        <a href="{{ site.baseurl }}/">Home</a>
        <a href="{{ site.baseurl }}/blog/">Blog</a>
        {% for link in card.social %}
        <a href="{{ link.url }}" target="_blank" class="url">
          {{ link.title }}
        </a>
        {% endfor %}
      </nav>
    </figure>
  </div>
</footer>
