{% assign card = site.data.vcard %}

<header class="site-header hero">
  <div class="wrapper horizontal">
    <a href="{{ site.baseurl }}/" class="site-title">
      <span class="icon">{% include svg/favicon.svg %}</span>
      {{ site.title }}
    </a>

    <nav class="site-nav">
      <a href="{{ site.baseurl }}/">Home</a>
      <a href="{{ site.baseurl }}/blog/">Blog</a>
      {% for link in card.social %}
      <a href="{{ link.url }}" target="_blank" class="url">
        {{ link.title }}
      </a>
      {% endfor %}
    </nav>
  </div>
</header>
