body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure
    margin: 0
    padding: 0

dd
    padding-left: 1.2em
    margin-bottom: $spacing-unit / 2

body
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family
    color: $text-color
    background-color: $background-color
    -webkit-text-size-adjust: 100%
    -webkit-font-feature-settings: "kern" 1
    -moz-font-feature-settings: "kern" 1
    -o-font-feature-settings: "kern" 1
    font-feature-settings: "kern" 1
    font-kerning: normal
    box-sizing: border-box
    *
        box-sizing: inherit

p, blockquote, ul, ol, dl, figure, %vertical-rhythm
    margin-top: $spacing-unit / 2
    margin-bottom: $spacing-unit / 2

img
    max-width: 100%
    border: none
    vertical-align: middle

figure > img
    display: block

figcaption
    font-size: $small-font-size

ul, ol
    margin-left: $spacing-unit / 2
    &.seamless
        margin-left: 0
        list-style: none

li
    margin-bottom: $spacing-unit / 4
    > ul,
    > ol
        margin-bottom: 0

table
    width: 100%
    table-layout: fixed
    border-collapse: collapse
    border-radius: 10px

    thead, tfoot
        background-color: $grey-color-dark
        color: #fff
    
    > tr, tbody tr
        &:nth-child(even)
            background-color: $grey-color-light

    caption
        padding-bottom: .5em
    
    th, td
        border: 1px solid #fff
        padding: .5em

    th
        font-weight: bold
        text-align: center

h1, h2, h3, h4, h5, h6
    font:
        family: $title-font-family
        weight: $base-font-weight
    line-height: 1.2
    margin-top: $spacing-unit
    margin-bottom: $spacing-unit

@for $i from 1 through 6
    h#{$i}
        font-size: $base-font-size * 2 + ($base-font-size / $i)

a
    color: $brand-color
    text-decoration: none
    transition: .3s ease-in-out
    position: relative
    &:before
        content: ''
        display: block
        width: 100%
        height: .55em
        margin: auto
        position: absolute
        top: .55em
        left: 0
        background-color: rgba($brand-color, .3)
        opacity: 0
        transform: translate(0)
        transition: .3s ease-in-out
    &:hover, &:focus
        color: $text-color
        outline: none
        &:before
            opacity: 1
            transform: translate(-.25em)

blockquote
    padding: 10px
    background-color: #f1f1f1
    color: $grey-color
    font-style: italic
    position: relative
    &:before
        content: url('/img/left-quotes.svg')
        position: absolute
        top: 0
        left: -$spacing-unit
        +media-query($content-width)
            top: -$spacing-unit / 3
            left: $spacing-unit / 3

pre, code
    border: 1px solid $grey-color-light
    border-radius: 3px
    background-color: #f7f7f7

code
    padding: 1px 5px

pre
    padding: .5em
    border-left: 0.3em solid #AAA
    background:
        image: url('/img/lil_fiber.png')
        size: auto
        repeat: repeat
    overflow: auto
    > code
        border: 0
        padding-right: 0
        padding-left: 0
        background: none

hr
    border-width: 0 0 1px
    border-style: solid
    border-color: $grey-color-light

.wrapper
    max-width: $content-width
    margin-right: auto
    margin-left: auto
    padding-right: $spacing-unit
    padding-left: $spacing-unit
    &.large
        max-width: $large-content-width
    &.small
        max-width: $on-laptop
    @extend %clearfix
    +media-query($on-laptop)
        padding-right: $spacing-unit / 2
        padding-left: $spacing-unit / 2

.hero
    padding: $spacing-unit / 2
    background-color: $grey-color
    color: #fff
    background:
        position: center
        repeat: no-repeat
        size: cover
    +media-query($on-laptop)
        .wrapper
            padding-left: 0
            padding-right: 0
    a
        color: gold
        &:before
            background-color: rgba($grey-color-dark, .3)
    [data-btn]
        border-color: gold
        &:hover, &:focus, &:active
            border-color: $brand-color
    +media-greater($on-palm)
        padding-top: 10%
        padding-bottom: 10%
    &.tight
        padding: $spacing-unit / 2
    &.brand
        background-color: $brand-bg-color
        [data-btn]
            &:hover, &:focus, &:active
                background-color: #000
                color: $brand-color
        +media-greater($on-palm)
            background:
                image: url('#{$baseurl}/img/dts-modern-workshop.jpg')
                position: top left
    &.light, &.wrap-up
        background-color: $grey-color-light
        color: $grey-color-dark
        a:not([data-btn~="fill"])
            color: $brand-color
        [data-btn]
            border-color: $brand-color
            &:hover, &:focus, &:active
                color: #fff
    &.dark
        background-color: $grey-color-dark
        color: $grey-color-light
    
    &.wrap-up
        background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%)
        +media-greater($on-palm)
            background:
                image: url('#{$baseurl}/img/jesus-kiteque-desk.jpg')
                position: bottom left
            padding-bottom: 250px

.video-frame
    height: 0
    padding: 0 0 56.25%
    position: relative
    iframe, object, embed, > *
        width: 100%
        height: 100%
        position: absolute

.bg-area
    position: relative
    .bg-container
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        overflow: hidden
        z-index: -1
        .bg-content
            position: absolute
            top: 50%
            left: 50%
            min-width: 100%
            min-height: 100%
            -webkit-transform: translate(-50%, -50%)
            transform: translate(-50%, -50%)

%clearfix
    &:after
        content: ""
        display: table
        clear: both

.icon, .icon-colored
    > svg
        display: inline-block
        width: 16px
        height: 16px
        vertical-align: middle
    &.inline
        svg
            width: 1em
            height: 1em
            vertical-align: text-top

.svg-inherit-color
    > svg
        color: inherit
        path, polygon, rect, circ
            fill: currentcolor

.icon
    @extend .svg-inherit-color
    &.ui
        color: $grey-color
        &:hover, &:focus
            color: $brand-color
        &:before
            content: initial

.circ
    border-radius: 500px
    overflow: hidden

.nbr
    display: inline-block
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

+module(btn)
    display: inline-block
    text-decoration: none
    text-align: center
    padding: .3em 1em
    border-radius: 500px
    border: 1px solid $brand-color
    &:hover, &:active, &:focus
        background-color: $brand-color
        color: #fff
    &:before
        content: initial
    +variant(fill)
        background-color: $brand-color
        color: #fff
        &:hover, &:active, &:focus
            box-shadow: 0 0 15px 0 #000
    +variant(nbr)
        @extend .nbr

+module(modal)
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    margin: auto
    z-index: 999
    perspective: 3000px
    transform: translate(0)
    &:target
        background-color: rgba(black, .7)
        animation: appear .3s ease-in-out forwards
        > *
            animation: enter-up .6s ease-in-out forwards
    &:not(:target)
        display: none
        > *
            opacity: 0
    > *
        padding-top: $spacing-unit / 2
        padding-bottom: $spacing-unit / 2
        margin: auto
        max-height: 100vh
        overflow: auto
        background-color: $background-color
        transform-origin: 50% 100%
    
    @keyframes appear
        0%
            opacity: 0
        100%
            opacity: 1
    
    @keyframes enter-up
        0%
            transform: rotateX(-90deg)
        60%
            transform: rotateX(10deg)
        80%
            transform: rotateX(-5deg)
        100%
            transform: rotateX(0deg)

+module(text)
    +variant(sm)
        font-size: $small-font-size
    +variant(lg)
        font-size: $base-font-size * 1.5
    +variant(xl)
        font-size: $base-font-size * 2
    +variant(left)
        text-align: left
    +variant(center)
        text-align: center
    +variant(right)
        text-align: right
    +variant(light)
        color: $grey-color
    +variant(brand)
        color: $brand-color

.share-btn
    display: inline-block
    vertical-align: middle
    text-align: center
    padding: .5em
    width: 2.5em
    height: 2.5em
    border-radius: 500px
    &:before
        content: none
    svg
        width: 1.2em
        height: 1.2em
        color: inherit
        *
            fill: currentcolor
    &.btn-fb
        color: #3b5998
        &:hover
            background-color: #3b5998
            color: #fff
    &.btn-tw
        color: #55acee
        &:hover
            background-color: #55acee
            color: #fff
    &.btn-li
        color: #007bb5
        &:hover
            background-color: #007bb5
            color: #fff
    &.btn-gp
        color: #dd4b39
        &:hover
            background-color: #dd4b39
            color: #fff
    &.btn-wa
        color: #4dc247
        &:hover
            background-color: #4dc247
            color: #fff

