.site-header
    min-height: 56px
    position: relative

.site-title
    font-size: 26px
    font-weight: 300
    line-height: 56px
    float: left

.site-footer
    background-color: #000
    padding: var(--spacing) 0
    color: #fff

.footer-heading
    font-size: 18px
    margin-bottom: var(--spacing-s)

.page-content
    padding-top: var(--spacing-m)
    padding-bottom: var(--spacing-m)

.page-heading
    font-size: 20px

.post-list
    margin-left: 0
    list-style: none

    > li
        margin-bottom: var(--spacing)

    .post-title
        margin-top: 0
        margin-bottom: 10px

.post-meta
    font-size: $small-font-size
    color: $grey-color

.post-link
    font-size: 24px
    line-height: 1.1

.post-excerpt
    font-size: $small-font-size
    margin-top: 10px

.post-header
    margin-bottom: var(--spacing)

.post-title
    letter-spacing: -1px
    line-height: 1.1

.post-content
    margin-bottom: var(--spacing)
    font-size: larger
    >
        h1, h2, h3, h4, h5, h6,
        p, pre, blockquote, 
        ul, ol, dl, 
        figure, table,
        [class*="highlight"]
            @extend .wrapper

        blockquote
            padding-left: var(--spacing-m)
            padding-right: var(--spacing-m)

        table
            max-width: $large-content-width

        ul, ol
            +media-greater($on-palm)
                padding-left: var(--spacing-m)

.post-navigation
    border-top: 1px solid $grey-color-light
    border-bottom: 1px solid $grey-color-light
    padding-top: var(--spacing-s)
    padding-bottom: var(--spacing-s)
    .prev
        text-align: left
    .next
        text-align: right

.pagination
    > *
        margin: var(--spacing)
