.section

    &-about
        background: url('#{$baseurl}/img/pink-watercolor.jpg') center no-repeat / cover
    
    &-blog
        footer
            margin-top: $spacing-unit
            text-align: right