.section-

    &hero
        position: relative
        +media-query($on-laptop)
            padding-top: $spacing-unit / 2
            padding-bottom: $spacing-unit / 2
        .video-bg
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            overflow: hidden
            z-index: -1
            video
                position: absolute
                top: 50%
                left: 50%
                min-width: 100%
                min-height: 100%
                transform: translate(-50%, -50%)
        p
            line-height: 1.75
        span
            text-shadow: -1px 1px 0 #fff
        +media-query($on-palm)
            .hero-title
                font-size: 14vmin
                line-height: .9
                small
                    font:
                        size: 6vmin
        +media-greater($on-palm)
            .hero-content
                width: 60%
            .hero-title
                small
                    font:
                        size: 30px
            p
                margin-top: 2vmin
                margin-bottom: 2vmin
        +media-greater($on-laptop)
            .hero-title
                font-size: 7vmin
                margin: 0
                line-height: 1.3
        // .hero-tag-line
        // .hero-excerpt
        // .hero-cta
    &portifolio
        background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%)
        .portfolio-gallery
            height: 300px
            margin-bottom: $spacing-unit / 2
        // .portfolio-img
        // .portfolio-metadata
        // .portfolio-title
        +media-query($on-palm)
            .portfolio-gallery
                height: 380px
            .portfolio-item
                padding: $spacing-unit / 2
        +media-query($on-palm)
            .portfolio-title
                font-size: $base-font-size
                text-align: center
                margin: 0
    &services
        .service-item
            +media-query($on-palm)
                svg
                    width: 150px
                    height: 150px
                    margin: auto

    // &blog