.vcard
    .photo
        @extend %vertical-rhythm
        width: 105px
        height: 105px
        padding: 5px
        border-radius: 500px
        overflow: hidden
        background-color: $grey-color-light
    .fn
        @extend %vertical-rhythm
    // .nickname
    // .note
    // .adr
    .social
        .url
            display: block
            font-weight: bold
            &:before
                content: initial