.vcard
    .photo
    .fn
        margin-top: 0
    .nickname
    .note
    .adr
    .social
        margin-top: 0
        margin-bottom: 0
        .url
            display: block
            padding: 5px 15px
            border: 1px solid $brand-color
            border-radius: 500px
            text-align: center
            font-weight: bold
            overflow: hidden
            white-space: nowrap
            text-overflow: clip
            &:hover, &:focus, &:active
                background-color: $brand-color
            &:before
                content: initial