.vcard
    .photo
        width: 105px
        height: 105px
        padding: 5px
        border-radius: 500px
        overflow: hidden
        background-color: $grey-color-light
    .fn
        margin-top: 0
    .nickname
    .note
    .adr
    .social
        margin-top: 0
        margin-bottom: 0
        .url
            display: block
            font-weight: bold
            &:before
                content: initial