---
layout: default
---

<article class="page-content post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header wrapper">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <div class="horizontal">
      <p class="post-meta">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
        {% if page.author %}
          • 
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">{{ page.author }}</span>
          </span>
        {% endif %}
      </p>

      <div>
        {% include share.html position='cabeçalho' %}
      </div>
    </div>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <nav class="post-navigation wrapper large horizontal">
    <div class="flex prev">
    {% if page.previous.url %}
      <a href="{{ page.previous.url | prepend: site.baseurl }}">&laquo; {% if page.previous.titulo %}{{ page.previous.titulo }}{% else %}{{page.previous.title}}{% endif %}</a>
    {% endif %}
    </div>
    <div class="flex next">
    {% if page.next.url %}
      <a href="{{ page.next.url | prepend: site.baseurl }}">{% if page.next.titulo %}{{ page.next.titulo }}{% else %}{{page.next.title}}{% endif %} &raquo;</a>
    {% endif %}
    </div>
  </nav>

</article>

<div class="wrapper">
  <p data-text="lg">Comente e compartilhe:</p>
  {% include share.html position='comentários' %}
</div>

{%- include disqus.html -%}
